In [28]:
from PIL import Image

img_name = 'page_006_right_rotated.jpg'

img = Image.open(f"../data/pdf_processed/101-kermokue-kh-adyge-khybaryzhkher.pdf/05_standartized/{img_name}")
left, top, width, height = 422, 706, 206, 58

area = (left, top, left+width, top+height)
print(area)
cropped_img = img.crop(area) # x0, y0, x1, y1
# cropped_img.show()

(422, 706, 628, 764)

In [29]:
import pandas as pd

df = pd.read_csv('../data/pdf_processed/101-kermokue-kh-adyge-khybaryzhkher.pdf/tesseract_output/page_006_right_rotated.tsv', sep='\t')

In [30]:
# 5	1	1	1	8	1	422	706	206	58	88.422127	дзыхь
# 5	1	1	1	8	2	662	708	254	70	94.850235	хуэпщI
# 5	1	1	1	8	3	951	722	273	57	90.493637	хъунущ
# 5	1	1	1	8	4	1256	741	74	5	0.000000	,
# 5	1	1	1	8	5	1364	705	693	74	68.189995	ХьэтIохъущокъуэм

In [31]:
df

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
0,1,1,0,0,0,0,0,0,2481,3507,-1.000000,NaN
1,2,1,1,0,0,0,421,141,1639,2811,-1.000000,NaN
2,3,1,1,1,0,0,421,141,1639,2811,-1.000000,NaN
3,4,1,1,1,1,0,421,141,1636,72,-1.000000,NaN
4,5,1,1,1,1,1,421,158,262,40,93.126442,къалэм
...,...,...,...,...,...,...,...,...,...,...,...,...
222,5,1,2,1,1,1,2024,3021,33,47,96.963219,9
223,2,1,3,0,0,0,387,3334,1730,31,-1.000000,NaN
224,3,1,3,1,0,0,387,3334,1730,31,-1.000000,NaN
225,4,1,3,1,1,0,387,3334,1730,31,-1.000000,NaN
226,5,1,3,1,1,1,387,3334,1730,31,95.000000,

In [32]:
df[df['line_num'] == 8]

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
47,4,1,1,1,8,0,422,705,1635,74,-1.000000,NaN
48,5,1,1,1,8,1,422,706,206,58,88.422127,дзыхь
49,5,1,1,1,8,2,662,708,254,70,94.850235,хуэпщI
50,5,1,1,1,8,3,951,722,273,57,90.493637,хъунущ
51,5,1,1,1,8,4,1256,741,74,5,0.000000,","
52,5,1,1,1,8,5,1364,705,693,74,68.189995,ХьэтIохъущокъуэм

In [33]:
# line coordinates
line_num = 8

df_line = df[df['line_num'] == line_num]
df_line = df_line.dropna()

left_a = df_line['left'].to_list()
top_a = df_line['top'].to_list()
width_a = df_line['width'].to_list()
height_a = df_line['height'].to_list()

x0 = left_a[0]
y0 = top_a[0]
x1 = left_a[-1] + width_a[-1]
y1 = top_a[-1] + height_a[-1]

print(x0, y0, x1, y1)
cropped_img = img.crop((x0, y0, x1, y1))
cropped_img.show()
cropped_img.save(f'../data/pdf_processed/101-kermokue-kh-adyge-khybaryzhkher.pdf/line_box_raw/{img_name}__{line_num}.jpg')

422 706 2057 779

In [34]:
with open(f'../data/pdf_processed/101-kermokue-kh-adyge-khybaryzhkher.pdf/line_box_raw/{img_name}__{line_num}.txt', 'w', encoding='utf-8') as f:
    f.write(' '.join(df_line['text'].to_list()))